<h1>Relatórios Dom Palladar</h1>

<select
  [(ngModel)]="filtroPeriodo"
  (change)="filtrarPeriodo()"
>
  <option value="todos">Todos</option>
  <option value="hoje">Hoje</option>
  <option value="semana">Últimos 7 dias</option>
  <option value="mes">Este mês</option>
</select>

<hr>

<h3>Faturamento Total</h3>
<p>R$ {{ faturamentoTotal }}</p>

<h3>Pedidos Pagos</h3>
<p>{{ totalPedidos }}</p>

<h3>Prato Mais Vendido</h3>
<p>{{ pratoMaisVendido }}</p>

<h3>Ranking de Pratos</h3>

<ul>
  <li *ngFor="let prato of rankingPratos">
    {{ prato.nome }} - {{ prato.quantidade }} vendas
  </li>
</ul>

<h3>Faturamento Diário</h3>

<div style="height: 400px;">
  <canvas id="graficoFaturamento"></canvas>
</div>

<h3>Resumo Diário</h3>

<table>
  <tr>
    <th>Data</th>
    <th>Faturamento</th>
  </tr>

  <tr *ngFor="let dia of faturamentoPorDia">
    <td>{{ dia.data }}</td>
    <td>R$ {{ dia.valor }}</td>
  </tr>
</table>

<h3>Top 5 Pratos Mais Vendidos</h3>

<div style="height: 400px;">
  <canvas id="graficoPratos"></canvas>
</div>


<hr>

<h2>Pedidos Pagos</h2>

<div *ngFor="let pedido of pedidos">
  <p>
    {{ pedido.cliente }} - R$ {{ pedido.total }}
  </p>
</div>