<div class="cabecalho-estoque">

  <h1>Controle de Estoque</h1>

  <button (click)="abrirModalHistorico()">
    📋 Histórico ({{ movimentacoesEstoque.length }})
  </button>

</div>

<div class="cards-estoque">

  <div class="card-estoque">
    <p>Total de Itens</p>
    <h2>{{ totalItens() }}</h2>
  </div>

  <div class="card-estoque">
    <p>Crítico</p>
    <h2>{{ totalCriticos() }}</h2>
  </div>

  <div class="card-estoque">
    <p>Atenção</p>
    <h2>{{ totalAtencao() }}</h2>
  </div>

  <div class="card-estoque">
    <p>Normal</p>
    <h2>{{ totalNormais() }}</h2>
  </div>

  <div class="card-estoque">
    <p>Acima Média</p>
    <h2>{{ totalAcimaMedia() }}</h2>
  </div>

</div>

<input type="text" [(ngModel)]="buscaProduto" placeholder="Buscar produto...">

<select [(ngModel)]="categoriaSelecionada">
  <option value="">Todas as categorias</option>
  <option value="Massa">Massa</option>
  <option value="Proteína">Proteína</option>
  <option value="Aves">Aves</option>
  <option value="Peixe">Peixe</option>
  <option value="Guarnição">Guarnição</option>
  <option value="Sobremesa">Sobremesa</option>
  <option value="Bebida">Bebida</option>
  <option value="Tempero">Tempero</option>
</select>

<select [(ngModel)]="nivelSelecionado">
  <option value="">Todos os níveis</option>
  <option value="Crítico">🔴 Crítico</option>
  <option value="Atenção">⚠️ Atenção</option>
  <option value="Normal">✓ Normal</option>
  <option value="Acima da média">↗ Alto</option>
</select>

<button (click)="abrirModalCadastro()">
  + Cadastrar Novo Produto
</button>

<div class="modal" *ngIf="mostrarModalCadastro">

  <h2>Adicionar Novo Produto </h2>

  <input type="text" [(ngModel)]="nome" placeholder="Nome do item">
  <br><br>

  <input type="text" [(ngModel)]="marca" placeholder="Marca">
  <br><br>


  <select [(ngModel)]="categoria">

    <option value="">
      Selecione uma categoria
    </option>

    <option value="Massa">
      Massa
    </option>

    <option value="Proteína">
      Proteína
    </option>

    <option value="Aves">
      Aves
    </option>

    <option value="Peixe">
      Peixe
    </option>

    <option value="Guarnição">
      Guarnição
    </option>

    <option value="Sobremesa">
      Sobremesa
    </option>

    <option value="Bebida">
      Bebida
    </option>

    <option value="Tempero">
      Tempero
    </option>
  </select>

  <br><br>

  <select [(ngModel)]="unidade">

    <option value="">
      Unidade de medida
    </option>

    <option value="kg">kg</option>
    <option value="g">g</option>
    <option value="L">L</option>
    <option value="ml">ml</option>
    <option value="un">Unidades</option>
    <option value="porção">Porções</option>
    <option value="garrafa">Garrafas</option>
    <option value="dose">Doses</option>
    <option value="lata">Latas</option>
    <option value="caixa">Caixas</option>

  </select>

  <br><br>

  <input type="number" [(ngModel)]="quantidadeAtual" placeholder="Quantidade inicial">
  <br><br>

  <input type="number" [(ngModel)]="quantidadeMinima" placeholder="Quantidade mínima">
  <br><br>

  <input type="number" [(ngModel)]="quantidadeMaxima" placeholder="Quantidade máxima">
  <br><br>

  <button (click)="fecharModalCadastro()">
    Cancelar
  </button>

  <button (click)="salvarItem()">
    Adicionar
  </button>
</div>


<div class="modal" *ngIf="mostrarModalAjuste">

  <h2>Ajustar Estoque</h2>

  <p>
    <strong>Produto:</strong>
    {{ itemSelecionado?.nome }}
  </p>

  <p>
    <strong>Estoque atual:</strong>
    {{ itemSelecionado?.quantidadeAtual }} {{ itemSelecionado?.unidade }}
  </p>

  <select [(ngModel)]="tipoMovimentacao">
    <option value="">Selecione o tipo</option>
    <option value="entrada">Entrada</option>
    <option value="saida">Saída</option>
  </select>

  <br><br>

  <input type="number" [(ngModel)]="quantidadeAjuste" placeholder="Quantidade">

  <br><br>

  <button (click)="fecharModalAjuste()">
    Cancelar
  </button>

  <button (click)="confirmarAjuste()">
    Confirmar ajuste
  </button>

</div>

<!--MODALL DE TRANSFERENCIAAA-->
<div class="modal" *ngIf="mostrarModalTransferencia">

  <h2>Transferir Estoque</h2>

  <p>
    <strong>Produto:</strong>
    {{ itemTransferencia?.nome }}
  </p>

  <p>
    <strong>Estoque atual:</strong>
    {{ itemTransferencia?.quantidadeAtual }}
    {{ itemTransferencia?.unidade }}
  </p>

  <select [(ngModel)]="destinoTransferencia">
    <option value="">Selecione o destino</option>
    <option value="Dom Palladar Centro">Dom Palladar Centro</option>
    <option value="Dom Palladar Zona Sul">Dom Palladar Zona Sul</option>
    <option value="Dom Palladar Zona Norte">Dom Palladar Zona Norte</option>
  </select>

  <br><br>

  <input type="number" [(ngModel)]="quantidadeTransferencia" placeholder="Quantidade para transferir">

  <br><br>

  <button (click)="fecharModalTransferencia()">
    Cancelar
  </button>

  <button (click)="confirmarTransferencia()">
    Confirmar transferência
  </button>

</div>

<hr>

<h2>Itens cadastrados</h2>

<div class="lista-estoque">

  <div class="card-produto" *ngFor="let item of itensFiltrados()">

    <div class="topo-card-produto">
      <h3>{{ item.nome }}</h3>

      <span>{{ verificarStatus(item) }}</span>
    </div>

    <p><strong>Marca:</strong> {{ item.marca }}</p>
    <p><strong>Categoria:</strong> {{ item.categoria }}</p>

    <p>
      <strong>Estoque atual:</strong>
      {{ item.quantidadeAtual }} {{ item.unidade }}
    </p>


    <!-- BARRA 'FACILITADORA PARA OS FUNCIONARIOS DO ESTOQUE'-->
    <div class="barra-estoque">

      <div class="progresso-estoque" [ngClass]="{'barra-critico': verificarStatus(item) === 'Crítico',
            'barra-atencao': verificarStatus(item) === 'Atenção',
            'barra-normal': verificarStatus(item) === 'Normal',
            'barra-acima': verificarStatus(item) === 'Acima da média'}"
        [style.width.%]="(item.quantidadeAtual / item.quantidadeMaxima) * 100">
      </div>

    </div>



    <p>
      <strong>Mínimo:</strong>
      {{ item.quantidadeMinima }} {{ item.unidade }}
    </p>

    <p>
      <strong>Máximo:</strong>
      {{ item.quantidadeMaxima }} {{ item.unidade }}
    </p>

    <button (click)="abrirModalAjuste(item)">
      Ajustar
    </button>


    <button (click)="abrirModalTransferencia(item)">
      Transferir
    </button>

  </div>

</div>

<!-- Aqui entra as movimentações de entrada e saída de mercadorias-->
<!--TEM UM BOTAO LA EM CIMA, NO TOPO DO HTML-->
<div class="modal" *ngIf="mostrarModalHistorico">
  <h2>Histórico de movimentações</h2>

  <div *ngIf="movimentacoesEstoque.length === 0">
    <p>Nenhuma movimentação registrada ainda</p>
  </div>

  <div *ngFor="let mov of movimentacoesEstoque">

    <p> <strong>{{ mov.nome }}</strong> </p>

    <p *ngIf="mov.tipo !== 'transferencia'">
      {{ mov.tipo }} de {{ mov.quantidade }} {{ mov.unidade }}
    </p>

    <p *ngIf="mov.tipo === 'transferencia'">
      Transferência de {{ mov.quantidade }} {{ mov.unidade }}
      para a unidade
      <strong>{{ mov.destino }}</strong>
    </p>

    <p> {{ mov.quantidadeAnterior }} → {{ mov.quantidadeNova }} {{ mov.unidade }}</p>

    <p> {{ mov.criadoEm?.toDate() | date:'dd/MM/yyyy HH:mm' }}</p>

    <hr>
  </div>

  <button (click)="fecharModalHistorico()"> Fechar </button>

</div>