<h1>Cardápio</h1>

<div *ngFor="let produto of produtos">

  <img
  *ngIf="produto.imagem"
  [src]="produto.imagem"
  width="150">
  
  <h2>{{ produto.nome }}</h2>

  <p>{{ produto.descricao }}</p>

  <p>
    <strong>R$ {{ produto.preco }}</strong>
  </p>

  <button (click)="adicionarAoPedido(produto)">
    Adicionar ao pedido
  </button>

  <hr>
</div>

<h2>Pedido</h2>

<div *ngIf="carrinho.length === 0">
  <p>Nenhum item adicionado ainda</p>
</div>

<div *ngFor="let item of carrinho">
  <p>{{ item.nome }}</p>
  <p>Qtd: {{ item.quantidade }}</p>
  <p>R$ {{ item.preco * item.quantidade }}</p>

  <button (click)="diminuirQuantidade(item)">
    ➖
  </button>

  <button (click)="aumentarQuantidade(item)">
    ➕
  </button>

  <hr>


</div>

<h3>Total: R$ {{ calcularTotal() }}</h3>

  <button *ngIf="carrinho.length > 0" (click)="enviarParaCozinha()">Enviar pedido para cozinha</button>