<h1>Cadastrar Produto</h1>

<input
  type="text"
  name="nome"
  [(ngModel)]="nome"
  placeholder="Nome do produto">

<br><br>

<input
  type="number"
  name="preco"
  [(ngModel)]="preco"
  placeholder="Preço">

<br><br>

<input
type="text"
[(ngModel)]= "imagem"
placeholder= "Cole aqui a URL">

<br><br>

<textarea
  name="descricao"
  [(ngModel)]="descricao"
  placeholder="Descrição do produto"></textarea>

<br><br>

<button type="button" (click)="salvarProduto()">

  Salvar Produto

</button>

<hr>

<h2>Produtos cadastrados</h2>

<div
  *ngFor="let produto of produtos">

  <img
  *ngIf="produto.imagem"
  [src]="produto.imagem"
  width="150">

  <h3>{{ produto.nome }}</h3>

  <p>{{ produto.descricao }}</p>

  <strong>
    R$ {{ produto.preco }}
  </strong>

  <br><br>

  <button
    (click)="editarProduto(produto)">

    Editar

  </button>

  <button
    (click)="excluirProduto(produto.id)">

    Excluir

  </button>

  <hr>

</div>