*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(153, 95, 18);
}

.navegacao{
    position: fixed;
    background: rgba(15, 9, 1, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.menu-inicio{
    text-decoration: none;
    color: rgb(250, 205, 4);
    display: flex;
    justify-content: left;
}

.menu-link{
    text-decoration: none;
    color: wheat;
    font-weight: 550;
    position: relative;
    padding: 0.5rex;
}

.cabecalho{
    min-height: 100vh;
    
}

.bloco-capa{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.inicio-capa{
    width: 100%;
    height: 100%;
    object-fit: cover; /*preenche todo o espaco, sem defomar*/
    display: block;
}


.conteudo-capa{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.logo{
    color: #d4a017;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.titulo-capa{
    color: white;
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.botao-reserva{
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.575);
    border: 2px solid #d4a017;
    padding: 1rem 2rem;
    font-weight: bold;
    display: inline-block;
}