*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(153, 95, 18);
}

.navegacao{
    position: fixed;
    background: rgba(15, 9, 1, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.menu-inicio{
    font-family: 'Instrument Serif', sans-serif ;
    font-weight: 700;
    text-decoration: none;
    color: rgb(250, 205, 4);
    display: flex;
    justify-content: left;
}

.menu-link{
    text-decoration: none;
    color: wheat;
    font-weight: 550;
    position: relative;
    padding: 0.5rex;
}

.cabecalho{
    min-height: 100vh;
    
}

.bloco-capa{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.inicio-capa{
    width: 100%;
    height: 100%;
    object-fit: cover; /*preenche todo o espaco, sem defomar*/
    display: block;
}


.conteudo-capa{
    font-family: 'Encode Sans Condensed', sans-serif;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.logo{
    color: #d4a017;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.titulo-capa{
    color: white;
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.botao-reserva{
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.575);
    border: 2px solid #d4a017;
    padding: 1rem 2rem;
    font-weight: bold;
    display: inline-block;
}
 /*PARTE DO SOBRE DOMPALLADAR*/

.sobre{
    display: flex;
    justify-content: center;
    padding: 13rem 2rem;
}

.camada-sobre{
    background-color: #2e2c2c;
    width: 100%;
    max-width: 900px;
    padding: 4rem; 
    border-radius: 10px;
}

.numero-sobre{
    color: #d4a017;
    font-size: 8rem;
    font-weight: bold;
}

.titulo-sobre{
    color: white;
    font-size: 7rem;
    line-height: 1.2;
    margin: 1rem 0;
}

.nome-restaurante{
    color:#d4a017;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.item span{
    color: #d4a017;
    font-size: 2.5rem;
    font-weight: bold;
    min-width: 60px;
}

.item p{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}