<div class="topo">
    <h1>Área do Garçom</h1>

    <button (click)="alternarHistorico()">
        {{mostrarHistorico? 'Fechar histórico' : 'Histórico'}}
    </button>
</div>


<div *ngIf="pedidos.length === 0">
    <p>Nenhum pedido finalizado pela cozinha.</p>
</div>

<div *ngFor="let pedido of pedidos">

    <h2 *ngIf="pedido.origem?.toLowerCase() !== 'delivery'">
        Mesa {{ pedido.numeroMesa }}
    </h2>

    <h2 *ngIf="pedido.origem?.toLowerCase() === 'delivery'">
        🛵 Pedido Delivery
    </h2>

    <p>
        <strong>Cliente:</strong>
        {{ pedido.cliente }}
    </p>
    <p>
        <strong>Origem:</strong> {{ pedido.origem }}
    </p>

    <h3>Itens</h3>

    <div *ngFor="let item of pedido.itens">
        <p>{{ item.nome }} - Qtd: {{ item.quantidade }}</p>
    </div>

    <!--taxaa garcommm-->
    <h3>Total: R$ {{ pedido.total }}</h3>

    <label *ngIf="pedido.status === 'Entregue'">
        <input type="checkbox" [(ngModel)]="pedido.incluirTaxaGarcom">
        Incluir taxa de serviço (10%)
    </label>

    <p *ngIf="pedido.status === 'Entregue'">
        <strong>Taxa de serviço:</strong>
        R$ {{ calcularTaxaGarcom(pedido) | number:'1.2-2' }}
    </p>

    <h3 *ngIf="pedido.status === 'Entregue'">
        Total Final:
        R$ {{ calcularTotalFinal(pedido) | number:'1.2-2' }}
    </h3>

    <button *ngIf="pedido.status === 'Pronto para entrega'" (click)="marcarComoEntregue(pedido.id)">
        Marcar como entregue
    </button>

    <div *ngIf="pedido.status === 'Entregue'">

        <h3>Pagamento</h3>

        <select [(ngModel)]="pedido.formaPagamento" (ngModelChange)="selecionarFormaPagamento(pedido, $event)">
            <option value="">Selecione</option>
            <option value="Pix">Pix</option>
            <option value="Crédito">Crédito</option>
            <option value="Débito">Débito</option>
            <option value="Dinheiro">Dinheiro</option>
        </select>

        <br><br>

        <button (click)="finalizarPagamento(pedido)">
            Finalizar pagamento
        </button>

        <button (click)="alternarPagamentoDividido()">
            {{ mostrarPagamentoDividido ? 'Fechar pagamento dividido' : 'Dividir pagamento' }}
        </button>

        <hr>

        <div *ngIf="mostrarPagamentoDividido">

            <h3>Pagamento dividido</h3>

            <select [(ngModel)]="formaPagamentoParcial">
                <option value="">Forma de pagamento</option>
                <option value="Pix">Pix</option>
                <option value="Crédito">Crédito</option>
                <option value="Débito">Débito</option>
                <option value="Dinheiro">Dinheiro</option>
            </select>

            <br><br>

            <input type="number" [(ngModel)]="valorPagamentoParcial" placeholder="Valor pago">

            <br><br>

            <button (click)="adicionarPagamentoParcial(pedido)">
                Adicionar pagamento
            </button>

            <button (click)="finalizarRestante(pedido)">
                Finalizar restante
            </button>

            <button *ngIf="calcularRestante(pedido) <= 0.01" [disabled]="processandoPagamento"
                (click)="finalizarPagamentoDividido(pedido)">
                {{ processandoPagamento? 'Finalizando...' : 'Finalizar pagamento dividido'}}
            </button>

            <h4>Pagamentos adicionados</h4>

            <div *ngFor="let pagamento of pagamentosParciais">
                <p>{{ pagamento.forma }} - R$ {{ pagamento.valor }}</p>
            </div>

            <p><strong>Total pago:</strong> R$ {{ calcularTotalPago() | number:'1.2-2' }}</p>

            <p><strong>Restante:</strong> R$ {{ calcularRestante(pedido) | number:'1.2-2' }}</p>
        </div>
    </div>
    <hr>
</div>


<div *ngIf="mostrarHistorico">

    <h2>Histórico de Pagamentos</h2>


    <button (click)="filtroHistorico = 'presencial'">
        Presencial
    </button>

    <button (click)="filtroHistorico = 'delivery'">
        Delivery
    </button>


    <div *ngIf="historicoFiltrado().length === 0">
        <p>Nenhum pagamento encontrado para este filtro.</p>
    </div>

    <div *ngFor="let pedido of historicoFiltrado()">

        <h3 *ngIf="pedido.origem?.toLowerCase() !== 'delivery'">
            Mesa {{ pedido.numeroMesa }}
        </h3>

        <h3 *ngIf="pedido.origem?.toLowerCase() === 'delivery'">
            🛵 Pedido Delivery
        </h3>
        <p>
            <strong>Cliente:</strong>
            {{ pedido.cliente }}
        </p>

        <p>
            <strong>Total pago:</strong>
            R$ {{ pedido.pagamento?.valor | number:'1.2-2' }}
        </p>

        <p>
            <strong>Subtotal:</strong>
            R$ {{ pedido.pagamento?.subtotal | number:'1.2-2' }}
        </p>

        <p>
            <strong>Taxa garçom:</strong>
            R$ {{ pedido.pagamento?.valorTaxaGarcom | number:'1.2-2' }}
        </p>

        <p>
            <strong>Forma de pagamento:</strong>
            {{ pedido.pagamento?.forma }}
        </p>

        <div *ngIf="pedido.pagamento?.dividido">
            <h4>Pagamentos divididos</h4>

            <div *ngFor="let pagamento of pedido.pagamento?.pagamentos">
                <p> {{ pagamento.forma }} - R$ {{ pagamento.valor | number:'1.2-2' }}</p>

            </div>

        </div>

        <p>
            <strong>Pago em:</strong>
            {{ pedido.pagamento?.pagoEm?.toDate() | date:'dd/MM/yyyy HH:mm' }}
        </p>

        <hr>

    </div>
</div>