:host {
    display: block;
    min-height: 100vh;
    background: linear-gradient(100deg, rgba(1, 1, 77, 0.651), gray, white);
    padding: 2rem;
    font-family: Arial, sans-serif;
}

/* TOPO */

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.topo h1 {
    color: #3a210f;
    font-size: 2.3rem;
}

/* BOTÕES */

button {
    border: none;
    background: #0b50b8da;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

button:hover {
    background: #080808;
    color: #b8860b;
}

/* CARDS */

.card-garcom,
.card-historico {
    background: white;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.2rem;
    border-left: 6px solid #02215a;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
}

.card-garcom h2,
.card-historico h3 {
    color: #3a210f;
    margin-bottom: .8rem;
}

.card-garcom p,
.card-historico p {
    margin: .4rem 0;
}

.card-garcom strong,
.card-historico strong {
    color: #3a210f;
}

/* STATUS DELIVERY */

.status-entrega {
    color: #d97706;
    font-weight: bold;
}

/* TAXA GARÇOM */

label {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    background: #fff7e6;
    border: 1px solid #f2cf72;
    padding: .7rem;
    border-radius: 6px;
    margin-top: .8rem;
}

/* PAGAMENTO */

select,
input[type="number"] {
    width: 100%;
    max-width: 280px;
    padding: .8rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

select:focus,
input:focus {
    outline: none;
    border-color: #b8860b;
}

/* HISTÓRICO */

.historico-garcom {
    margin-top: 3rem;
}

.historico-garcom h2 {
    color: #3a210f;
    margin-bottom: 1.5rem;
}

/* HR */

hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #ddd;
}