<div class="pagina-cardapio-public">

  <header class="topo-cardapio">
    <a routerLink="/home" class="btn-voltar">← Voltar</a>

    <div>
      <h1>Cardápio Dom Palladar</h1>
      <p>Conheça nossos pratos antes de fazer seu pedido.</p>
    </div>
  </header>

  <section class="grid-cardapio-public">

    <div class="card-prato-public" *ngFor="let prato of pratos" (click)="abrirPrato(prato)">

      <img [src]="prato.imagem" [alt]="prato.nome">

      <div class="info-prato-public">
        <h2>{{ prato.nome }}</h2>

        <p class="descricao-prato">
          {{ prato.descricao }}
        </p>

        <p class="preco-prato">
          R$ {{ prato.preco | number:'1.2-2' }}
        </p>
      </div>

    </div>

  </section>

  <section class="chamada-delivery">
    <h2>Gostou do cardápio?</h2>
    <p>Faça seu pedido pelo delivery e acompanhe tudo em tempo real.</p>

    <a routerLink="/cliente-login">
      Peça pelo Delivery
    </a>
  </section>
  

  <div class="modal-prato" *ngIf="pratoSelecionado" (click)="fecharPrato()">

  <div class="conteudo-modal-prato" (click)="$event.stopPropagation()">

    <button class="fechar-modal" (click)="fecharPrato()">
      ×
    </button>

    <img
      [src]="pratoSelecionado.imagem"
      [alt]="pratoSelecionado.nome">

    <div class="info-modal-prato">

      <h2>{{ pratoSelecionado.nome }}</h2>

      <p>
        {{ pratoSelecionado.descricao }}
      </p>

      <h3 class="preco-modal">
        R$ {{ pratoSelecionado.preco | number:'1.2-2' }}
      </h3>

      <a routerLink="/cliente-login" class="chamada-delivery">
        Peça pelo Delivery
      </a>

    </div>

  </div>

</div>

</div>