<h1>Pedidos da Cozinha</h1>


<div *ngIf="producaoPrioritaria().length > 0">

    <h2>🔥 Produção Pé na Porta</h2>
    <p>Ativem o modo turbo e mão na massa!</p>

    <div *ngFor="let item of producaoPrioritaria()">
        <h3>{{ item.quantidade }}x {{ item.nome }}</h3>
    </div>

</div>



<div *ngIf="pedidos.length === 0">
    <p>Nenhum pedido recebido ainda.</p>
</div>

<div *ngFor="let pedido of pedidos">

    <h3 *ngIf="pedido.origem?.toLowerCase() !== 'delivery'">
        Mesa {{ pedido.numeroMesa }}
    </h3>

    <h3 *ngIf="pedido.origem?.toLowerCase() === 'delivery'">
        🛵 DELIVERY - {{ pedido.cliente }}
    </h3>

    <p>
        <strong>Cliente:</strong>
        {{ pedido.cliente }}
    </p>

    <p>
        <strong>Status:</strong>
        <span [ngClass]="pedido.status">
            {{ pedido.status }}
        </span>
    </p>

    <p>
        <strong>Entrou às:</strong>
        {{ mostrarHorarioPedido(pedido.criadoEm) }}
    </p>

    <p>
        <strong>Tempo:</strong>
        <span [ngClass]="verificarUrgenciaPedido(pedido)">
            {{ calcularMinutosPedido(pedido) }} min
        </span>
    </p>

    <h3>Itens</h3>

    <div *ngFor="let item of pedido.itens">
        <p>
            {{ item.nome }} - Qtd: {{ item.quantidade }}
        </p>
    </div>

    <h3 *ngIf="pedido.origem?.toLowerCase() !== 'delivery'">
        Total: R$ {{ pedido.total | number:'1.2-2' }}
    </h3>

    <div *ngIf="pedido.origem?.toLowerCase() === 'delivery'">
        <h3>
            Subtotal: R$ {{ pedido.total | number:'1.2-2' }}
        </h3>

        <p>
            <strong>Taxa de entrega:</strong>
            R$ {{ pedido.taxaEntrega | number:'1.2-2' }}
        </p>

        <h3>
            Total pago:
            R$ {{ pedido.pagamento?.valor | number:'1.2-2' }}
        </h3>

        <p>
            <strong>Pagamento:</strong>
            {{ pedido.pagamento?.forma }} - Pago
        </p>
    </div>

    <button *ngIf="pedido.status === 'Recebido'" (click)="atualizarStatus(pedido.id, 'Preparando')">
        Iniciar preparo
    </button>

    <button *ngIf="pedido.status === 'Preparando'" (click)="atualizarStatus(pedido.id, 'Finalizado')">
        Finalizar pedido
    </button>

    <button *ngIf="pedido.status === 'Finalizado'" (click)="atualizarStatus(pedido.id, 'Pronto para entrega')">
        Pronto para entrega
    </button>

    <hr>