<h1>Pedidos da Cozinha</h1>


<div *ngIf="producaoPrioritaria().length > 0">

    <h2>🔥 Produção Pé na Porta</h2>
    <p>Ativem o modo turbo e mão na massa!</p>

    <div *ngFor="let item of producaoPrioritaria()">
        <h3>{{ item.quantidade }}x {{ item.nome }}</h3>
    </div>

</div>



<div *ngIf="pedidos.length === 0">
    <p>Nenhum pedido recebido ainda.</p>
</div>

<div *ngFor="let pedido of pedidos">

    <h2>
        <span *ngIf="pedido.origem === 'Delivery'">
            🛵 Delivery
        </span>

        <span *ngIf="pedido.origem !== 'Delivery' && pedido.numeroMesa">
            Mesa {{ pedido.numeroMesa }}
        </span>

    </h2>

    <p>
        <strong>Cliente:</strong>
        {{ pedido.cliente }}
    </p>

    <p *ngIf="pedido.origem === 'Delivery' ">
        <strong>Telefone:</strong>
        {{ pedido.telefone }}
    </p>

    <p *ngIf="pedido.origem === 'Delivery'">
        <strong>Endereço:</strong>
        {{ pedido.endereco?.rua }},
        {{ pedido.endereco?.numero }},
        {{ pedido.endereco?.bairro }}
    </p>

    <p *ngIf="pedido.origem !== 'Delivery'">
        <strong>Pessoas:</strong>
        {{ pedido.quantidadePessoas }}
    </p>

    <p>
        <strong>Status:</strong>
        <span [ngClass]="pedido.status">
            {{ pedido.status }}
        </span>
    </p>

    <p>
        <strong>Entrou às:</strong>
        {{ mostrarHorarioPedido(pedido.criadoEm) }}
    </p>

    <p>
        <strong>Tempo:</strong>

        <span [ngClass]="verificarUrgenciaPedido(pedido)">
            {{ calcularMinutosPedido(pedido) }} min
        </span>
    </p>

    <h3>Itens</h3>

    <div *ngFor="let item of pedido.itens">
        <p>
            {{ item.nome }} - Qtd: {{ item.quantidade }}
        </p>
    </div>

    <h3>Total: R$ {{ pedido.total }}</h3>

    <button *ngIf="pedido.status === 'Recebido'" (click)="atualizarStatus(pedido.id, 'Preparando')">
        Iniciar preparo
    </button>

    <button *ngIf="pedido.status === 'Preparando'" (click)="atualizarStatus(pedido.id, 'Finalizado')">
            Finalizar pedido
    </button>

    <button *ngIf="pedido.status === 'Finalizado'" (click)="atualizarStatus(pedido.id, 'Pronto para entrega')">
        Pronto para entrega
    </button>

    <hr>

</div>