<div class="pagina-pedidos-cozinha">

  <header class="topo-cozinha">
    <h1>Pedidos da Cozinha</h1>
    <p>Acompanhe os pedidos recebidos e atualize o preparo.</p>
  </header>

  <section class="producao-prioritaria" *ngIf="producaoPrioritaria().length > 0">
    <h2>🔥 Produção Pé na Porta</h2>
    <p>Ativem o modo turbo e mão na massa!</p>

    <div class="lista-prioritaria">
      <div class="item-prioritario" *ngFor="let item of producaoPrioritaria()">
        <strong>{{ item.quantidade }}x</strong>
        <span>{{ item.nome }}</span>
      </div>
    </div>
  </section>

  <div class="sem-pedidos" *ngIf="pedidos.length === 0">
    <p>Nenhum pedido recebido ainda.</p>
  </div>

  <section class="grid-pedidos">

    <article class="card-pedido" *ngFor="let pedido of pedidos">

      <div class="cabecalho-pedido">
        <h2 *ngIf="pedido.origem?.toLowerCase() !== 'delivery'">
          Mesa {{ pedido.numeroMesa }}
        </h2>

        <h2 *ngIf="pedido.origem?.toLowerCase() === 'delivery'">
          🛵 Delivery - {{ pedido.cliente }}
        </h2>

        <span class="status-pedido" [ngClass]="pedido.status">
          {{ pedido.status }}
        </span>
      </div>

      <div class="info-pedido">
        <p><strong>Cliente:</strong> {{ pedido.cliente }}</p>
        <p><strong>Entrou às:</strong> {{ mostrarHorarioPedido(pedido.criadoEm) }}</p>

        <p>
          <strong>Tempo:</strong>
          <span [ngClass]="verificarUrgenciaPedido(pedido)">
            {{ calcularMinutosPedido(pedido) }} min
          </span>
        </p>
      </div>

      <div class="itens-pedido">
        <h3>Itens</h3>

        <div class="item-pedido" *ngFor="let item of pedido.itens">
          <span>{{ item.nome }}</span>
          <strong>Qtd: {{ item.quantidade }}</strong>
        </div>
      </div>

    

      

      <div class="acoes-pedido">
        <button
          class="btn-acao iniciar"
          *ngIf="pedido.status === 'Recebido'"
          (click)="atualizarStatus(pedido.id, 'Preparando')">
          Iniciar preparo
        </button>

        <button
          class="btn-acao finalizar"
          *ngIf="pedido.status === 'Preparando'"
          (click)="atualizarStatus(pedido.id, 'Finalizado')">
          Finalizar pedido
        </button>

        <button
          class="btn-acao entrega"
          *ngIf="pedido.status === 'Finalizado'"
          (click)="marcarProntoParaEntrega(pedido.id)">
          Pronto para entrega
        </button>
      </div>

    </article>

  </section>

</div>