<h1>Controle de Acessos</h1>

<div class="cards">

  <div class="card">
    <h3>Funcionários</h3>
    <p>12</p>
  </div>

  <div class="card">
    <h3>Novos no mês</h3>
    <p>3</p>
  </div>

  <div class="card">
    <h3>Desligamentos</h3>
    <p>1</p>
  </div>

</div>

<h2>FUNCIONARIOS TESTE 1111111111111111</h2>
<p>Total: {{ funcionarios.length }}</p>

<div *ngFor="let funcionario of funcionarios">  

  <h3>{{ funcionario.nome }}</h3>

  <p>
    <strong>E-mail:</strong> 
    {{ funcionario.email }}
  </p>

  <p>
    <strong>Status:</strong> 
    {{ funcionario.status }}
  </p>

  <button (click)="abrirPermissoes(funcionario.id)">⚙️ Permissões</button>

  <div *ngIf="funcionarioAberto === funcionario.id">

    <label>
      <input type="checkbox" [(ngModel)]="funcionario.estoque">
      Estoque
    </label>

    <br>

    <label>
      <input type="checkbox" [(ngModel)]="funcionario.pedidos">
      Pedidos
    </label>

    <br>

    <label>
      <input type="checkbox" [(ngModel)]="funcionario.cliente">
      Cliente
    </label>

    <br>

    <label>
      <input type="checkbox" [(ngModel)]="funcionario.garcom">
      Garçom
    </label>

    <br>

    <label>
      <input type="checkbox" [(ngModel)]="funcionario.esg">
      ESG
    </label>

    <br><br>

    <button 
    (click)="aprovarAcesso(funcionario.id)">
      Aprovar acesso
    </button>

    <button 
    (click)="voltarParaPendente(funcionario.id)">
      Voltar para Pendente
    </button>
      
    <button (click)="salvarPermissoes(funcionario)">
    💾 Salvar permissões
    </button>
 

    <hr>
  </div>
</div>